<h1> Tuff Cookies - Game On! </h1>

<%= form_tag player_guess_path(@player.game_id) do %>

<p><b>Current Player: <%= @player.name%> </b></p> 

<p>Cards in Deck: <%= @cards_remaining_in_deck %></p>
<p><b>Card in Play: <%=@card_in_play%> </b></p>
<p>Cards in the Pot: <%=@cards_in_the_pot.count%> <%=@cards_in_the_pot%> </p>
<p>Consecutive Correct Guesses: <%=@consecutive_correct_guesses%></p>
<p><b>Last Guess Was: <%=@evaluation%></b></p>

<% if @card_in_play.to_i != 0 %>
	<%= button_tag "Higher", name: "higher", value: "higher" %>
	<%= button_tag "Lower", name: "lower", value: "lower" %>
	<%if @consecutive_correct_guesses >= 3 && Game.find(@player.game_id).last_correct_guesser == @player.number%>
		<%= button_tag "Sweep", name: "sweep", value: "sweep" %>
	<%end%>
<%else%>
<%= button_tag "Next Card", name: "next_card", value: "next_card"%>
<%end%>
<%= button_tag "End Game", name: "end_game", value: "end_game"%>

<br><br>
######<br>
Cheat for End User Testing  <br>
Cards in Deck: <%=@deck_array%><br>
Player Order: <%=hidden_field_tag "number", @player.number %><br> 
Game ID: <%= @player.game_id%><br>
Game Direction: <%=Game.find(@player.game_id).direction%><br>
######
<%end%> 

<h3><b>Player Order and Score </b></h3>  
<% for each in @players_in_order %>
<%=each.name%> - <%=Card.where(game_id: each.game_id).where(owner: each.name).count%>
<br>
<%end%>
</p>	