<h1> Tuff Cookies - Game On! </h1>

<%= form_tag player_guess_path(@player.game_id) do %>

<p>Player Name: <%= @player.name%> </p>
<p>Player Order: <%=text_field_tag "player_order", @player.player_order %></p> 
<p>Player Score: <%= @player.score%></p>
<p>Game ID: <%= @player.game_id%></p>

<p>Cards in Deck: <%= @cards_remaining_in_deck %></p>
<p>Card in Play: <%=@card_in_play%> </p>
<p>Cards in the Pot: <%=@cards_in_the_pot.count%> <%=@cards_in_the_pot%> <br><br>

<p>Last Guess Was: <%=@evaluation%></p>

<%= button_tag "Higher", name: "higher", value: "higher" %>
<%= button_tag "Lower", name: "lower", value: "lower" %>
<%= button_tag "Sweep", name: "sweep" %>


<%end%> 

<br><br><br>
<h3><b>Player Order and Score </b></h3>  
<% for each in @players_in_order %>
<%=each.name%> - <%=each.score%>
<br>
<%end%>
</p>	